<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BooksApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8F8FC57A04896AF4187CA8F7128733A251FB81BF</string>
				<key>dateExpires</key>
				<string>31/08/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8FC57A04896AF4187CA8F7128733A251FB81BF</string>
						<key>dateExpires</key>
						<string>31/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7F65D5T5X</string>
						<key>name</key>
						<string>Eduact for educational services</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J7F65D5T5X.me.eduact.instructor</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J7F65D5T5X</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>BooksApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2dd2c994-fc46-4af0-b778-9c4c90694698</string>
				<key>dateExpires</key>
				<string>31/08/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J7F65D5T5X</string>
				<key>name</key>
				<string>Eduact for educational services</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
